<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="OracleConnectionString" value="Data Source={IP}/{DATABASE};Port={PORT};User ID={ID};password={PASSWORD};"/>
    <add key="MssqlConnectionString" value="Data Source={IP},{PORT};Initial Catalog={DATABASE};Persist Security Info=True;User ID={ID};Password={PASSWORD}"/>
    <add key="SqliteConnectionString" value="Data Source ={PATH}\DBHelper.db"/>
  </appSettings>
</configuration>